body {
  color: #666;
  font-family: Andale Mono;
}

table {
  perspective: 100%;
}

td {
  border: 1px solid #CCC;
  padding: 15px 20px;
  text-align: center;
  width: 100px;
  height: 50px;
  position: relative;
  text-transform: uppercase;
  line-height: 50px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

td figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.3s;
  backface-visibility: hidden;
}

td.is-matched {
  transform: rotateY(180deg);
}

td.is-matched figure {
  background-color: green !important;
  color; #FFF !important;
}

td.is-flipped {
  transform: rotateY(180deg);
}

td figure.is-back {
  background-color: #DEDEDE;
  transform: rotateY( 180deg );
}

td.is-active figure {
  background-color: blue;
  color: #FFF !important;
}

td.is-previewed figure {
  color: inherit
}

td.is-revealed figure {
  background-color: #E1E1E1;
  color: inherit
}

.screen-lock {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.screen-lock.is-active {
  z-index: 2;
}
