// ******************
// config file
// ***

// colors
//
// 0: soft-blue
// 1: soft-red
// 2: strong-blue
// 3: strong-brown
// 4: soft-brown

$colors: (0: #B9EFF4, 1: #FD5465, 2: #648EA4, 3: #938C80, 4: #D5BDA5)
$color-light: #FFF
$color-dark: #000
$color-reading: #AAA
$color-transparent-dark: rgba(0,0,0,.3)
$color-transparent-white: rgba(255,255,255,.3)

// fonts
$font-family-default: 'Lato', sans-serif
$font-family-icon: 'freakyregular'

// text
$main-text-color: #FFF
$primary-font-family: Arial
$font-size-default: 25px
$font-size-icon: 40px

// z-index manager
$z-index-header: 10

// transtion
$transition-time: 0.3s
