// ******************
// ui-header
// ***

$module-name: 'ui-header'
$module-height: 45px

.#{$module-name}
    position: fixed
    left: 0
    top: 0
    font-size: 16px
    display: block
    width: 100%
    height: $module-height
    line-height: $module-height
    box-sizing: border-box
    background-color: $color-transparent-white
    overflow: hidden
    z-index: $z-index-header
    p
      margin: 0
      padding-left: 10px

.#{$module-name}-content
  height: 100%
  position: relative

.#{$module-name}-link
  display: inline-block
  height: 100%
  padding: 0 10px
  box-sizing: border-box
  transition: $transition-time
  &:hover
    background-color: $color-transparent-white

.#{$module-name}-link-icon
  position: relative
  top: 1px
