// ******************
// ui-social-list
// ***

$module-name: 'ui-social-list'

.#{$module-name}
  font-size: 30px;
  color: $color-light

.#{$module-name}-link
  transition: 0.4s
  color: map-get($colors, 5)
  &:hover
    color: $color-transparent-dark
