@font-face {
    font-family: 'freakyregular';
    src: url('./freaky-webfont.eot');
    src: url('./freaky-webfont.eot?#iefix') format('embedded-opentype'),
         url('./freaky-webfont.woff2') format('woff2'),
         url('./freaky-webfont.woff') format('woff'),
         url('./freaky-webfont.ttf') format('truetype'),
         url('./freaky-webfont.svg#freakyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
