@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-ab6oy');
	src:url('fonts/icomoon.eot?#iefix-ab6oy') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-ab6oy') format('truetype'),
		url('fonts/icomoon.woff?-ab6oy') format('woff'),
		url('fonts/icomoon.svg?-ab6oy#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ui-icon-"], [class*=" ui-icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ui-icon-circle-down:before {
	content: "\ea43";
}
.ui-icon-twitter:before {
	content: "\ea91";
}
.ui-icon-github4:before {
	content: "\eab4";
}
